#forum{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
#categories-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#posts-section{
    overflow: scroll;
}
#posts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    max-width: 100%;
}
.post{
    display: flex;
    flex-direction: column;
    border:2px solid red;
    background-color: bisque;
    margin-top: 1em;
}

#images{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#like,#dislike,#delete{
    margin-left: 1em;
    margin-right: 1em;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
#like{
    color: rgb(66, 172, 66);
}
#dislike{
    color: red;
}
#new-post{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#post-text{
    width: 50%;
    height: 100%;
}
.post-labels{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#submit-post{
    background-color: lightgrey;
    padding:0.5em;
    text-align: center;
    box-shadow: 2px 1px #777777;
    border-radius: 4px;
}