header, footer {
    background-color: rgb(50, 156, 29);
    font-size:1.3em;
    padding: 1em;
    text-align: start;
    color:white;
    display: flex;
}
header{
    display: flex;
    justify-content: space-evenly;    
}

footer{
    justify-content: space-between;    
}

#search-bar{
    max-height: 3em;
    width: 50%;
    align-self: center;
    padding: 1em;
}