
#panels{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    max-width: 30%;
    height: 100%;
    flex-wrap: wrap;
}

#ranked-topics,#recent-posts,#stats-posts{
    max-width: 100%;
    max-height: 30%;
    overflow-y: scroll;
    border: 1px solid black;
    flex-wrap: wrap;
    background-color: rgb(233, 206, 175);
}   
#sp-title,#rt-title,#rp-title{
    text-align: center;
    background-color: rgb(219, 168, 100);
}
#stats-posts>table{
    display: flex;
    flex-direction: column;
}
#stats-posts>table>tbody>tr{
    display: flex;
    justify-content: space-around;
}
#ranked-topics>table{
    justify-content: space-around;
    border-spacing: 0;
}
#recent-posts>table{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-spacing: 0;
}
#recent-posts>table>tbody>tr>th:nth-child(2){
    padding-right: 15%;
}
#recent-posts>table>tbody>tr{
    display:flex;
    justify-content: space-between;
}
#ranked-topics>tbody>tr{
    display: flex;
    border:1px solid black;
    justify-content: space-between;
    justify-items: center;
}
#ranked-topics>table>tbody>tr>td:nth-child(2){
    border: 0;
    width: 10%;
}
#ranked-topics>table>tbody>tr>td:nth-child(1){
    border: 0;
    width: 55%;
}
#ranked-topics>table>tbody>tr>td:nth-child(3){
    width: 25%;
    border: 0;
}
